#container {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: grey;
    border:2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
}
h1 {
    text-align: center;
}
#navbar {
    height: 50px;
    width: 900px;
    display: flex;
    border: 2px solid lightseagreen;
    background-color: darksalmon;
    border-radius: 10px;
}
.option {
    height: 50px;
    width: 80px;
    font-size: 24px;
    

}