/* /* practice question
#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
#outer> div {
    height: 50px;
    width:50px;
    border: 2px solid black;
    margin: 10px;
    border-radius:50% ;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
} */

/* ASSINGMENENT */
 /* question 1 div{ */
    /* height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px black dotted;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em; 
    margin: 20px 1em 40px 2em; 
    padding: 1em;
} */
 /* queston 2 */
/* .div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display:inline-block;
    
} */

/* question 3 */
.div{
    display:inline;
}