header{

    text-align: center;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    margin:50px 150px 75px 150px;
    border-radius: 50%;
    border-style: groove;
    border-color: #81b622;
    border-width: 10px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
   
}
    
  
header:hover{
    color:gold;
    background-color: bisque;
    box-shadow: 8px 16px 18px rgba(215, 41, 41,0.8);
    transform: rotate3d(10deg); 
}
section{ 
    text-align: center;

}
   

h1{
    text-decoration:dashed;
    text-decoration-style:double ;
    border: 12PX groove yellow;
    margin-left: 300px;
    margin-right:300px;
    background-color: royalblue;
    border-radius: 50%;

}
h2{
    color: #000000;
    background-color: #00c9c8;
    text-align: center;
    margin-left: 200px;
    margin-right:200px;
    border-radius:20px;
    border-style: groove;
    border-width: 10px;
    font-weight: 400px;
    transition: 1s;
}
ul{
    background-color:#81b622;
    color:#ecf87f;
    width: 500px;
    height: 90px;
    text-align: center;
    border-radius: 300px;
    border-color:yellow ;
    border-style: groove;
    margin-left:500px;
    font-weight: 400;
    border-width: 20px;
}
ul:hover{
    color:rgb(146, 83, 205);
    background-color: yellow;
}
a{
    text-decoration:none;
    
}
a:hover  {
    color:red;
    font-weight: bold;
}
.h2:hover{
    color:gold;
    font-weight:bold;
    background-color: rgb(146, 83, 205);
}
h4{
   color:cornflowerblue;
   background-color:aliceblue;
}
img{
    border: gold ;
    border-width: 40px;
    display: block;
    text-align: center;
    margin-left: 573px;
    background-color: #000000;
}
p{
    text-decoration: double underline ;
    font-weight: 1000;
}
body{
    background-image:url("images.jpeg");
    background-size:cover;
}